@model IEnumerable<ArabaModel>

@{
    ViewBag.Title = "Araba Listesi";
}


<h2>@ViewData["Title"]</h2>
<hr />
@Html.ActionLink("Yeni Araba Ekle", "Create", "Araba")
@if (TempData["Message"] != null)
{
    <br />
    <span class="bg-warning text-black">
        @TempData["Message"]
    </span>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UretimYili)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FiyatModel)
        </th>
        <th>

        </th>
    </tr>
    @foreach (ArabaModel araba in Model)
    {
        <tr>
            <td>
                @araba.Adi
            </td>
            <td>
                @araba.UretimYili
            </td>
            <td>
                @araba.FiyatModel
            </td>
            <td>
                @Html.ActionLink("Detay", "Details", "Araba", new { id = @araba.Id})
                &nbsp;|&nbsp;
                @Html.ActionLink("Düzenle", "Edit", "Araba", new { id = @araba.Id })
                &nbsp;|&nbsp;
                @Html.ActionLink("Sil", "Delete", "Araba", new { id = @araba.Id })
            </td>
        </tr>
    }

</table>
