@model MvcCoreTest.Entiti.Uretici

@{
    ViewData["Title"] = "Details";
}

<h1>Detay</h1>

<div>
    <h4>Uretici</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirmaAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirmaAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirmaLokasyon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirmaLokasyon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UretimDurumu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UretimDurumu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
