@model IEnumerable<AciklamaModel>

@{
    ViewData["Title"] = "Açıklama Listesi";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Yeni Açıklama Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Detay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarih)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ArabaId)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Detay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarih)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ArabaId)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detay</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
